In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
#Pulling in the data#Pullin 
csv_path = "DataSets/belly_button_biodiversity_samples.csv"

#Reading data
df = pd.read_csv(csv_path, encoding="utf-8", dtype=object)

In [3]:
df.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
sample = 'BB_941'

In [12]:
df_sample = df[sample]
df_sample = pd.DataFrame(list(df_sample))
df_sample.rename(columns={0: 'Sample'}, inplace=True)
df_sample = df_sample.loc[df_sample["Sample"] > 0]
df_sample.head()

  Sample
0      0
1      0
2      0
3      0
4      0

In [ ]:
otus = df['otu_id']
otus.to_json("DataSets/otulist.json")

In [ ]:
df.head()

In [ ]:
Types = pd.DataFrame(list(df))

In [ ]:
Types